<nav class="header">
    <div class="header__logo">
        <h2 [routerLink]="['/']">Registro Vehicular</h2>
    </div>
    <div class="header__menu">
        <!-- @if (isLoggedIn()) {
            <button  mat-flat-button matButton="filled" (click)="logout()">Cerrar Sesión</button>
        }
        @else{
            <button  mat-flat-button matButton="filled" [routerLink]="['/acceso']">Iniciar Sesión</button>
        } -->
        <!-- <button mat-flat-button>Warn</button> -->
    </div>
</nav>